// Place all the styles related to the api/Pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  height: 30px;
  width: 30px;
}

.pokedetail {
  position: fixed;
  top: 200px;
  right: 200px;
}
