<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <section class="language-border"></section>
    <section class="masthead">
      <ul class="language-nav masthead-links">
        <li><a href="#index">CSS</a></li>
        <li><a href="#index">HTML</a></li>
        <li><a href="#index">Javascript</a></li>
        <li><a href="#index">Ruby</a></li>
      </ul>
      <figure>
        <img src="assets/AA_Times_Logo.png" alt="App Academy Times Logo">
      </figure>
      <section >
        <ul class="masthead-links masthead-links-bottom">
          <li>Tuesday, October 18, 2016 </li>
          <li>
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            <a href="#index">Today’s Paper</a>
          </li>
          <li>
            <i class="fa fa-video-camera" aria-hidden="true"></i>
            <a href="#index">Video</a>
          </li>
          <li><button type="button" name="button">77°F</button></li>
          <li><button type="button" name="button">AAO<strong>+100%</strong></button></li>
        </ul>
      </section>
    </section>


    <!-- CSS
    HTML
    Javascript
    Ruby

    Tuesday, October 18, 2016
    Today’s Paper
    Video
    77°F
    AAO +100% -->
  </body>
</html>
