<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <ul class="sections-nav">
      <li>World</li>
      <li>San Francisco</li>
      <li>New York</li>
      <li>Bootcamp Prep</li>
      <li>Jumpstart</li>
      <li>Online</li>
      <li>Marketing</li>
      <li>Sales</li>
      <li>TalentMatch</li>
      <li>Alumni</li>
      <li>All</li>

    </ul>

    <section class="sections-nav-border"></section>

  </body>
</html>
