/* Define application-wide selectors here!*/

html {
	position: relative;
	height: 100%;
}

body {
	// ...
	width : 80%;
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;
}

button {
	background-color: $blue;
	border-color: $dark-blue;
	color: white;
	// text-transform: uppercase;
	// font-weight:
	// padding: 3px;
	border-radius: 4px;
	margin: 1px;
	text-transform: uppercase;
	font-weight: bold;
	// transition:
	// font-family:
	// text-transform:
	// font-size:
	// text-align:
}


.left-nav span {
	text-transform: uppercase;
}

button:hover {
	background-color: $dark-blue;
	border-color: $darkest-blue;
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}
//
//
.hidden {
	display: none;
}

#gear-dropdown-btn {
	color: #333;
	background-color: transparent;
	border: none;
	font-weight: 700;
	vertical-align: top;
	width: 30px;
	// height: 30px;
	padding: 0;
	border: 1px solid transparent;
}
